html,body{
	box-sizing: border-box;
}

*,*::after,*::before{
	margin: 0;
	padding: 0;
}

#lift{
	width: 150px;
	height: 200px;
	position: absolute;
	background: url(../img/lift.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#lift1{
	width: 150px;
	height: 200px;
	position: absolute;

	margin-left: 30%;
	background: url(../img/lift.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#lift2{
	width: 150px;
	height: 200px;
	position: absolute;

	margin-left: 60%;

	background: url(../img/lift.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


#mard{
	width: 100px;
	height: 200px;
	background: url(../img/man.png);
	margin-left: 90%;
	background-repeat: no-repeat;
	background-size: cover;
}

button{
	width: 15px;
	height: 15px;
	background: red;
	margin-left: 80%;
}